@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

.nav-container {
    width: 100vw;
    height: 20vh;
    background-color: transparent;
}

.nav-container h1 {
    font-size: '2.5rem';
    border-left: 2px solid black;
    border-right: 2px solid black;
}

@media screen and (max-width: 900px) {
    .nav-container {
        height: 15vh;
    }
    .nav-container h1 {
        font-size: 2rem;
    }
}